.map-with-ad-container .map-with-ad {
    width: 1280px;
    height: 1877px;
    background-image: url("../../images/kingdom-map.png");
    background-size: 1280px 1877px;
    background-repeat: no-repeat;
}